@charset "UTF-8";

@import "zerostyle";
@import "fonts";

/* common styles */
body {
    overflow-x: hidden;
    font-family: "Open Sans";
}
.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}
.title {
    
}
.text {

}
/* ------------- */
.home {
    background: url("../images/home/shadow.png") 50% 50% no-repeat,
                url("../images/home/bg.jpg") 50% 50% no-repeat;
    background-size: cover;
    padding: 68px 0 0 0;
    height: 800px;
    margin: 0 0 170px;
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 273px;
        height: 273px;
        background-color: #000000;
        border-radius: 50%;
        margin: 0 auto 54px auto;
    }
    &__title {
        max-width: 675px;
        color: #ffffff;
        font-size: 49px;
        line-height: 62px;
        text-transform: uppercase;
        text-align: center;
        span {
            font-weight: 700;
        }
        margin: 0 auto 51px auto;
    }
    &__form {
        width: 334px;
        height: 334px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28), 0 0 3px rgba(0, 0, 0, 0.04);
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        margin: 0 auto;
    }
    &__input {
        margin: 31px 35px 24px 35px;
        padding: 0 0 0 15px; 
        height: 36px;
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.09);
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        background-color: #ffffff;
        /* Style for text */
        color: #b4adad;
        font-size: 15px;
    }
    &__image {
        height: 87px;
        margin: 0 0 27px 0;
    }
    &__text {
        width: 217px;
        color: #938e8e;
        font-size: 15px;
        text-align: center;
        margin: 0 auto 25px auto;
    }
    &__button {
        min-width: 192px;
        height: 45px;
        background-color: #227dd3;
        padding: 12px 38px;
        border-radius: 3px;
        margin: 0 auto;
        transition: background-color 0.3s ease;
        &:hover {
            cursor: pointer;
            background-color: #0B2946;
        }
        /* Style for text */
        width: 116px;
        color: #ffffff;
        font-size: 26px;
        font-weight: 600;
        line-height: 22.5px;
        text-transform: uppercase;
    }
}

.boxes {
    display: flex;
    margin: 0 0 109px 0;
    .container {
        display: flex;
    }
    &__documents {
        margin: 0 72px 0 0;
        display: flex;
        align-items: center;
    }
    &__photos {
        display: flex;
        align-items: center;
    }
    &__image {
        margin: 0 29px 0 0;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        font-size: 27px;
        font-weight: 600;
        margin: 0 0 10px 0;
    }
    &__text {
        color: #4f4e4e;
        font-size: 14px;
        line-height: 23px;
    }
}
