@charset "UTF-8";

@import "zerostyle";
@import "fonts";

/* common styles */
body {
    overflow-x: hidden;
    font-family: "Open Sans";
}
.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
}
.title {
    color: #ffffff;
    font-size: 39px;
    font-weight: 600;
}
.text {
    color: #ffffff;
    font-size: 14px;
    line-height: 23px;
}
/* ------------- */
.home {
    background: url("../images/home/shadow.png") 50% 50% no-repeat,
                url("../images/home/bg.jpg") 50% 50% no-repeat;
    background-size: cover;
    padding: 68px 0 0 0;
    height: 800px;
    margin: 0 0 170px;
    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 273px;
        height: 273px;
        background-color: #000000;
        border-radius: 50%;
        margin: 0 auto 54px auto;
    }
    &__title {
        max-width: 675px;
        color: #ffffff;
        font-size: 49px;
        line-height: 62px;
        text-transform: uppercase;
        text-align: center;
        span {
            font-weight: 700;
        }
        margin: 0 auto 51px auto;
        @media (max-width: 704px) {
            font-size: 40px;
            line-height: 55px;
            span {
                display: block;
            }
        }
        @media (max-width: 580px) {
            font-size: 30px;
            line-height: 42px;
        }
        @media (max-width: 443px) {
            font-size: 20px;
            line-height: 35px;
        }
    }
    &__form {
        max-width: 334px;
        height: 334px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28), 0 0 3px rgba(0, 0, 0, 0.04);
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        margin: 0 auto;
    }
    &__input {
        margin: 31px 35px 24px 35px;
        padding: 0 0 0 15px; 
        height: 36px;
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.09);
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        background-color: #ffffff;
        /* Style for text */
        color: #b4adad;
        font-size: 15px;
    }
    &__image {
        height: 87px;
        margin: 0 0 27px 0;
    }
    &__text {
        width: 217px;
        color: #938e8e;
        font-size: 15px;
        text-align: center;
        margin: 0 auto 25px auto;
    }
    &__button {
        min-width: 192px;
        height: 45px;
        background-color: #227dd3;
        padding: 12px 38px;
        border-radius: 3px;
        margin: 0 auto;
        transition: background-color 0.3s ease;
        &:hover {
            cursor: pointer;
            background-color: #0B2946;
        }
        /* Style for text */
        width: 116px;
        color: #ffffff;
        font-size: 26px;
        font-weight: 600;
        line-height: 22.5px;
        text-transform: uppercase;
    }
}

.boxes {
    display: flex;
    margin: 0 0 109px 0;
    .container {
        display: flex;
        @media(max-width: 767px) {
            flex-direction: column;
        }
    }
    &__documents {
        margin: 0 72px 0 0;
        display: flex;
        align-items: center;
        max-width: 400px;
        @media(max-width: 767px) {
            margin: 0 0 30px 0;
            max-width: 100%;
        }
    }
    &__photos {
        display: flex;
        align-items: center;
        max-width: 400px;
        @media(max-width: 767px) {
            max-width: 0;
            max-width: 100%;
        }
    }
    &__image {
        margin: 0 29px 0 0;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        font-size: 27px;
        font-weight: 600;
        margin: 0 0 10px 0;
    }
    &__text {
        color: #4f4e4e;
        font-size: 14px;
        line-height: 23px;
    }
}

.section {
    background: linear-gradient(166deg, #5fc18b 53%, #44a36f 53%, #44a36f 100%);
    padding: 86px 0 130px 0;
    .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 314px 0;
        &__image {
            margin: 0 0 35px 0;
        }
        &__content {
        }
        &__title {
            margin: 0 0 36px 0;
            text-align: center;
        }
        &__text {
            margin: 0 0 50px 0;
            max-width: 650px;
            &:last-child {
                margin: 0;
            }
            @media(max-width: 767px) {
                max-width: 100%;
            }
        }
    }
    .section2 {
        max-width: 840px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        @media(max-width: 767px) {
            flex-direction: column;       
        }
        &__image {
            margin: 0 65px 0 0;
            @media(max-width: 767px) {
                margin: 0 0 35px 0;
            }
        }
        &__content {
        }
        &__title {
            margin: 0 0 20px 0;
            @media(max-width: 767px) {
                text-align: center;
            }
        }
        &__text {
            margin: 0 0 42px 0;
        }
        &__button {
            width: 196px;
            height: 51px;
            border: 3px solid #ffffff;
            border-radius: 10px;
            background-color: #0000;
            display: inline-block;
            /* Style for text */
            color: #ffffff;
            font-size: 27px;
            font-weight: 600;
            line-height: 43px;
            text-align: center;
            transition: background-color 0.3s ease,
                        color 0.3s ease;
            &:hover {
                cursor: pointer;
                background-color: #ffffff;
                color: #5fc18b;
            }
            @media(max-width: 767px) {
                width: 100%;
                height: 70px;
                line-height: 62px;
            }
        }
    }    
}

.contact {
    background: url("../images/contact/bg.jpg") 50% 50% no-repeat;
    background-size: cover;
    padding: 161px 0 44px 0;
    @media(max-width: 459px) {
        padding: 70px 0;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 430px;
        height: 430px;
        padding: 112px 0 45px 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.09);
        background-color: #ffffffdf;
        border-radius: 50%;
        @media(max-width: 459px) {
            width: 100%;
            background-color: #0000;
            padding: 0;
            height: auto;
        }
    }
    .input {
        width: 275px;
        height: 31px;
        border: 1px solid #d8d8d8;
        background-color: #ffffff;
        /* Style for text */
        opacity: 0.5;
        color: #4c505d;
        font-size: 14px;
        line-height: 22px;
        padding: 0 11px;
        border-radius: 3px;
        @media(max-width: 459px) {
            opacity: 1;
            width: 100%;
        }
    }
    &__name {
        margin: 0 0 15px 0;
    }
    &__email {
        margin: 0 0 15px 0;
    }
    &__message {
        resize: none;
        min-height: 80px;
        margin: 0 0 33px 0;
    }
    &__button {
        width: 66px;
        height: 66px;
        background: url("../images/contact/01.svg") 50% 50% no-repeat;
        border-radius: 50%;
    }
}

.footer {
    min-height: 47px;
    background-color: #43a06d;
    &__copyright {
        line-height: 47px;
        text-align: center;
        @media(max-width: 767px) {
            font-size: 12px;
        }
    }
}  